<table class="table table-bordered">
    <tbody>
        <!-- <tr>
            <td>
                <h3 class="mb-0 p-1">SubTotal</h3>
            </td>
            <td>
                <div class="row">

                    <div class="col-md-12 d-flex justify-content-between">
                        <h3 class="subtotal">No Of Items {{noOfItem}}</h3>
                        <h3 class="subtotal">{{subTotal | currency:"INR"}}</h3>
                    </div>
                </div>

            </td>
        </tr> -->
        <tr>
            <th> SubTotal</th>
            <td>
                No Of Items <strong>{{noOfItem}}</strong>
            </td>
            <td class="text-right">
                {{subTotal | currency:"INR"}}
            </td>
        </tr>

        <tr>
            <th>
                VAT Tax
            </th>
            <td>
                <input #vatTxaxPerc type="number" [min]="0" name="vatTax" id="vatTax" placeholder="Vat Tax"
                    (change)="getVatPerc()" (keyup)="getVatPerc()" [disabled]="!subTotal" [(ngModel)]="vatPerc">
            </td>
            <td class="text-right">
                {{vatTaxAmt | currency:"INR"}}
            </td>
        </tr>


        <tr>
            <th>
                Discount
            </th>
            <td>
                <input #discount type="number" [min]="0" name="discount" id="discount"
                    placeholder="Enter discount percent" [(ngModel)]="discPerc" (change)="getDiscPerc()"
                    (keyup)="getDiscPerc()" [disabled]="!subTotal">
            </td>
            <td class="text-right">
                {{discAmt | currency:"INR"}}
            </td>
        </tr>
        <tr>
            <th>
                Total
            </th>
            <td colspan="2" class="text-right">
                <strong> {{totalBill | currency:"INR"}}</strong>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <button mat-raised-button color="accent" class="text-uppercase bill-button" (click)="onBillCancel()"
        matTooltip="Clears All bill" [matTooltipPosition]="'below'">cancel bill
    </button>

    <button mat-raised-button color="primary" class="text-uppercase bill-button" (click)="onProcessBill()"
        [disabled]="!subTotal"
        #tooltip="matTooltip" matTooltip="Generate Reciept" [matTooltipPosition]="'below'"
        >process bill</button>
</div>