<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="text-uppercase">
                <th>products</th>
                <th>price</th>
                <th>quantity</th>
                <th>total</th>
            </tr>
        </thead>
        <!-- <div *ngIf="objArray.length >0; else noData " > -->
            <tbody>
                <tr *ngFor="let obj of objArray">
                    <td>{{obj.name}}</td>
                    <td>{{obj.price}}</td>
                    <td>{{obj.quant}}</td>
                    <td>{{obj.quant! * + obj.price}} </td>
                </tr>
            </tbody>
        <!-- </div> -->
    </table>
</div>

<ng-template #noData>
    <p class="alert alert-info text-uppercase">No Product Added Yet !!!!!</p>
</ng-template>