<div class="table-responsive">
    <table class="table table-bordered">

        <thead>
            <tr class="text-uppercase">
                <th>products</th>
                <th>price</th>
                <th>quantity</th>
                <th>total</th>
            </tr>
        </thead>
        <ng-container *ngIf="objArray.length >0; else noData ">
            <tbody>

                <tr *ngFor="let obj of objArray">
                    <td>{{obj.name}}</td>
                    <td class="text-right">{{obj.price | currency:"INR"}}</td>
                    <td>{{obj.quant}}</td>
                    <td class="text-right">{{obj.total| currency:"INR"}} </td>
                </tr>
            </tbody>
        </ng-container>

    </table>
</div>

<ng-template #noData>
    <p class="alert alert-info text-uppercase">No Product Added Yet !!!!!</p>
</ng-template>