<div class="table-responsive">
    <table class="table table-bordered table-hover">

        <thead>
            <tr class="text-uppercase thead-dark">
                <th>products</th>
                <th>price</th>
                <th>quantity</th>
                <th>total</th>
            </tr>
        </thead>
        <ng-container *ngIf="objArray.length >0; else noData ">
            <tbody>

                <tr *ngFor="let obj of objArray">
                    <td>
                        
                        <button mat-icon-button color="accent"  (click)="deleteItem(obj.id)"
                        #tooltip="matTooltip" matTooltip="Remove Item" [matTooltipPosition]="'left'"
                        
                        >
                            <mat-icon >cancel</mat-icon>
                        </button>
                        {{obj.name}}</td>
                    <td class="text-right pt-4">{{obj.price | currency:"INR"}}</td>
                    <td>
                        <button mat-icon-button color="accent" (click)="onAddRemQuant(obj.id,'remove')" 
                        #tooltip="matTooltip" matTooltip="Deacrease Quantity" [matTooltipPosition]="'left'"
                        >
                            <mat-icon >remove_circle</mat-icon>
                        </button>
                       
                        {{obj.quant}} 
                        <button mat-icon-button color="primary" (click)="onAddRemQuant(obj.id ,'add')"
                        #tooltip="matTooltip" matTooltip="Increase Item" [matTooltipPosition]="'right'"
                        >
                            <mat-icon >add_circle</mat-icon>
                        </button>
                        
                    </td>
                    <td class="text-right h-100 pt-4">
                        
                        {{obj.total| currency:"INR"}} </td>
                </tr>
            </tbody>
        </ng-container>
    </table>
</div>

<ng-template #noData>
    <tr>
        <td class="alert text-center alert-info text-uppercase" colspan="4">No Product Added Yet !!!!!</td>
    </tr>
</ng-template>